---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
import portraitChristian from "assets/christian-camacho.png";
import portraitJesus from "assets/jesus-medina.png";
import portraitKarla from "assets/karla-medina.png";
const portraits = {
  "/assets/christian-camacho.png": portraitChristian,
  "/assets/jesus-medina.png": portraitJesus,
  "/assets/karla-medina.png": portraitKarla
}
---
<Layout title="Acerca de">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Conoce al Bubble Team</Fragment>
      <Fragment slot="desc">
        Somos un pequeño equipo dedicado a ayudar a las personas a reducir su tiempo en pantalla
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          publishedTeamMembers.map((teamMember, index) => (
            <li>
              <a href={`/acerca-de/${teamMember.slug}`}>
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                  <Picture
                    src={portraits[teamMember.data.avatar.src]}
                    alt={teamMember.data.avatar.alt}
                    sizes="(max-width: 800px) 100vw, 800px"
                    width={800}
                    height={600}
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-md object-cover object-center bg-white"
                  />
                  <div>
                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                      {teamMember.data.title}
                    </span>

                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {teamMember.data.name}
                    </h2>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
